<h1 style = text-align:center>당신은 과거에 무엇이었습니까?!</h1>


<form action= "/home/result" style = text-align:center>
    자신의 이름을 입력하세용~~ <br>
    <input type="text" name= 'username'> <br>
    <input type="submit" value="Submit">
</form>
